<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<title>
    Lista de Usuários
</title>
<body>
     <div class="container">
        <div class="jumbotron">
            <div class="row">
                <h2>NODE - CRUD <span class="badge text-bg-segundary"> v1.0.0</span></h2>
            </div>
        </div>
        <div class="row">
            <p><a class="btn btn-succcess" href="/add">Adicionar</a></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NOME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">AÇÃO</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <tr>
                            <td><%=user.id %></td>
                            <td><%=user.name %></td>
                            <td><%=user.email %></td>
                             <td><a class="btn btn-primary" href="/edit/<%= user.id %>">Editar</a>
                                <a class="btn btn-danger" href="/delete/<%= user.id %>">Excluir</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
     </div>
</body>
</html>